<html>

<head>
    <title>AboutUs</title>
    <link   rel="icon" href="../images/C_icon.png" type="image/gif">
    <link rel="StyleSheet" href="css/dash_style.css">
    <link rel="StyleSheet" href="css/header_style.css">
    <link rel="StyleSheet" href="css/footer_style.css">
    <link rel="StyleSheet" href="css/aboutus_style.css">
    <header>
        <div id="flex_header">
            <div id="brand_svg">
                <img src="images/C_footprint.svg" alt="My Happy SVG" />
            </div>
            <div class="navbar">
                <a class="hover-underline-animation" href="/home">Home</a>
                <a class="hover-underline-animation" href="/calculator">Calculator</a>
                <a class="hover-underline-animation" href="/instructions">Instructions</a>
                <a class="hover-underline-animation" href="/dashboard">Dashboard</a>
                <a class="hover-underline-animation" href="/about" style="border-bottom:2px solid ;">AboutUs</a>
                <a class="hover-underline-animation" href="#contact_submit">ContactUS</a>
            </div>
        </div>

    </header>
</head>

<body>
    <div id="grad">
    <div id="dash_name">
        <div>About Us</div>
    </div>

    <div class="about_text">
        <p align="justify">Our group came up with the idea for this project in an effort to combat global warming and, if all goes well, hopefully slow it down. 
        The massive carbon footprints that humans leave behind are having a negative impact on our planet.
        When we take a look around us, we notice that there are a great number of news articles about the unusual climate changes that are taking place, such as rising temperatures, wildfires, melting ice caps, and other phenomena.</p>
        <p align="justify">Carelessness on the part of humans is to blame for all of this. 
        Changes in the climate that are unusual have an effect on the growth of food crops, which leads to a lower yield, which ultimately leads to malnutrition. 
        It also makes drinking water unsafe and contributes to the spread of a wide variety of diseases. 
        As a result of all of this, we came to the conclusion that we needed to devise a strategy to deal with the situation using the resources at our disposal.</p>
        <p align="justify">Since the majority of people are unaware of the severity of their impact on the world, we initially considered other possibilities, such as campaigns and energy-related projects.
        However, taking into consideration our available resources and the level of expertise we possess, we ultimately decided to develop a calculator that conveys this information to users. 
        We conceived of this undertaking as a means to accomplish something more significant, or at the very least, the initial stage of that endeavour.
        Because of this, in addition to the calculator, we also provided a way for people to learn how to lessen their impact on the environment by reducing their personal carbon footprint.
        </p>
    </div>
    {{>footer}}
    </div>
</body>

</html>