<html>

<head>
    <title>Instructions</title>
    <link   rel="icon" href="../images/C_icon.png" type="image/gif">
    <link rel="StyleSheet" href="css/dash_style.css">
    <link rel="StyleSheet" href="css/header_style.css">
    <link rel="StyleSheet" href="css/footer_style.css">
    <link rel="StyleSheet" href="css/aboutus_style.css">
    <header>
        <div id="flex_header">
            <div id="brand_svg">
                <img src="images/C_footprint.svg" alt="My Happy SVG" />
            </div>
            <div class="navbar">
                <a class="hover-underline-animation" href="/home">Home</a>
                <a class="hover-underline-animation" href="/calculator">Calculator</a>
                <a class="hover-underline-animation" href="/instructions" style="border-bottom:2px solid ;">Instructions</a>
                <a class="hover-underline-animation" href="/dashboard">Dashboard</a>
                <a class="hover-underline-animation" href="/about" >AboutUs</a>
                <a class="hover-underline-animation" href="#contact_submit">ContactUS</a>
            </div>
        </div>

    </header>
</head>

<body background="foot.svg">
    <div id="grad">
    <div id="dash_name">
        <div>Instructions</div>
    </div>

    <div class="about_text">
        <ul align="justify">
            <li>Once you successfully sign in, on the calculator page, there are three sections to be filled: Transport Preferences, Dietary Preferences and Household Information.
        <li>Fill all the fields asked such as the type of your vehicle, mileage, type of fuel used by it.
        <li>Also the number of people living in your house, the amount of electricity and LPG consumed in a month, the size of your home, your water consumption etc
        <li>Once you’re done with all inputs (all fields are compulsory!) , hit the calculate button.
        <li>The calculator then reads the input and computes and assigns a score to you based on which your name is entered in the dashboard leaderboard, if you have low enough scores.
        <li>Once the computation is finished, the calculator generates the output and tells you what your carbon footprint is like based on the score you get. It also generates a list of ways using which you can reduce your carbon footprint.
        </p><br><br><br><br>
    </div>



   {{>footer}}
   </div>
</body>

</html>